In [1]:
#Using dictionary to create a series
import pandas as pd
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
car_price

Swift         700000
Jazz          800000
Civic        1600000
Altis        1800000
Gallardo    30000000
dtype: int64

In [2]:
#Creating a car price series with a dictionary
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
# Creating the car manufacturer series with a dictionary
car_man_dict = {'Swift' : 'Maruti',
                  'Jazz'   : 'Honda',
                  'Civic'  : 'Honda',
                  'Altis'  : 'Toyota',
                   'Gallardo' : 'Lamborghini'}
car_man = pd.Series(car_man_dict)
print(car_price)
print(car_man)

Swift         700000
Jazz          800000
Civic        1600000
Altis        1800000
Gallardo    30000000
dtype: int64
Swift            Maruti
Jazz              Honda
Civic             Honda
Altis            Toyota
Gallardo    Lamborghini
dtype: object

In [3]:
'''Syntax: 

pd.DataFrame(data, index, columns)

data - data can contain Series or list-like objects. If data is a dictionary, 
column order follows insertion-order.

index- index for dataframe that is created. By default, it will be 
RangeIndex(0, 1, 2, …, n) if no explicit index is provided

columns-  If data contains column labels, it will use the same . Else, default 
to RangeIndex(0, 1, 2, …, n).  '''

cars = pd.DataFrame({'Price': car_price , 'Manufacturer' : car_man})
cars

             Price Manufacturer
Swift       700000       Maruti
Jazz        800000        Honda
Civic      1600000        Honda
Altis      1800000       Toyota
Gallardo  30000000  Lamborghini

In [4]:
cars['Price']

Swift         700000
Jazz          800000
Civic        1600000
Altis        1800000
Gallardo    30000000
Name: Price, dtype: int64

In [5]:
cars['Manufacturer']

Swift            Maruti
Jazz              Honda
Civic             Honda
Altis            Toyota
Gallardo    Lamborghini
Name: Manufacturer, dtype: object